@charset 'UTF-8';
/** -----------------------------------------------------------
 * Description : 변수 전체
 * Directory   : sass
 * File Name   : _variables.scss
 * ------------------------------------------------------------
 */
 
 
$widthMax:1080px;



/* ------------------------------ 
 * fonts,color
 * ------------------------------ */

$fontSize12 : 12px;
$fontSize13 : 13px;
$fontSize14 : 14px;

$colorBasic : #656565;
$colorPoint : #ff3600;
$colorPointSb : #3c44f2;


/* ------------------------------ 
 * background
 * ------------------------------ */
 
/* variable : background */
$bodyBG : rgba(246,246,246,1);

$inputBG : #f5f5f5;

/* variable : button */
$btnfontXS : 11px;
$btnfontS : 12px;
$btnfontM : 14px;
$btnfontL : 16px;



/* variable : 서브 컨텐츠 */
$bodySubBG :rgba(246,246,246,1);