@charset 'UTF-8';
/*! ------------------------------ 
 * Description:
 * ------------------------------ */
@import '_variables/variables';
@import '_mixins/mixins';
 
 //컨텐츠 전용

 div{
 	>div {position:absolute;top:0;left:0;}
 }