@charset 'UTF-8';
/*! ------------------------------ 
 * Description:
 * ------------------------------ */
@import '_variables/variables';
@import '_mixins/mixins';

/*! layout */
#wrapper {width:$widthMax;}

/*! 테스트 -- */
div {background:blue;
	>div {border:1px solid blue;}
}