@use './variable' as * ;

body {background-color: $body;}

.box {
	display: flex;
	border: 1px solid blue;
	padding: 20px;
	color: red;
	font-size: 24px;
}

.box2 {

	margin: 20px 0 0 ;
	padding: 30px;

}