/*! reset */
//박스
html,body,a,span,div,nav,aside,header,footer,section,main,article,address,details,summary,blockquote,

//제목
h1,h2,h3,h4,h5,h6,hgroup,

//텍스트
del,s,strike,u,ins,i,cite,var,q,b,em,strong,big,mark,
abbr,acronym,sub,sup,small,font,center,
dfn,kbd,output,code,pre,samp,tt,meter,dialog,bdo,bdi,

//목록
dir,dl,dt,dd,ul,ol,li,p,

//이미지,동영상
figcaption,figure,img,map,picture,
canvas,audio,track,video,source,embed,applet,object,

//테이블
table,thead,tbody,tfoot,tr,td,th,caption,

//폼
form,fieldset,legend,input,button,select,textarea,label,keygen,
data,datalist,ruby,rp,rt,menu,menuitem,time,progress,

//프레임
frameset,frame,iframe,

//줄바꿈
wbr,hr {margin:0;padding:0;border:0;}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}


/*! normalize */
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;/* line-height:1.15 */}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:normal}
hr{box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace,monospace;font-size:1em}

a{background-color:transparent}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
// b,strong{font-weight:bolder}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
small{font-size:80%}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0}
sub{bottom:-.25em}
sup{top:-.5em}
img{border-style:none;line-height:0}

button,input,optgroup,select,textarea{margin:0;font-family:inherit;color:inherit;font-size:100%; border-radius: 0;/* line-height:1.15 */}
button,input{overflow:visible}
button,select{text-transform:none}
button,[type=button], [type=reset], [type=submit]{-webkit-appearance:button; cursor:pointer; background-color: transparent; border-radius: 0;}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,    [type=button]:-moz-focusring,    [type=reset]:-moz-focusring,    [type=submit]:-moz-focusring{outline:ButtonText dotted 1px}

fieldset{padding:0}
// legend{display:table;box-sizing:border-box;padding:0;max-width:100%;color:inherit;white-space:normal}
progress{vertical-align:baseline}
textarea{overflow:auto}
em,i {font-style: normal;}

[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

details{display:block}
summary{display:list-item}
template{display:none}
[hidden]{display:none}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}
input[type=number] {-moz-appearance: textfield;}

//X표,눈모양 제거
input::-ms-clear,
input::-ms-reveal {display: none; width : 0; height: 0;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {display: none;}

:root {
	--vh: 100%;
	--doughnut-val: 0;
}