@charset "UTF-8";
/*! 부품이름 */

@mixin floatL{float:left;}
@mixin floatR{float:right;}
@mixin floatN{float:none !important;}
@mixin floatBox {overflow:hiddne;}
@mixin inlineB{display:inline-block !important;}

.tblBox{border:1px solid blue}