@charset 'UTF-8';
/** -----------------------------------------------------------
 * Description : 
 * File Name   : ui_global.scss
 * ------------------------------------------------------------
 */
@import 'variables';
@import 'mixins';

/* 초기화 */
@import '_module/base-reset';

/* 공통사용 제어용 class */
@import '_module/base-offset';