@charset 'UTF-8';
/** -----------------------------------------------------------
 * Description : 기본설정 믹스인
 * Directory   : /sass/_mixins/
 * File Name   : _mBasic.scss
 * ------------------------------------------------------------
 */

//기본설정
@mixin defaultSetZero {border:0;margin:0; padding:0;}
@mixin defaultSetFont {@include fontSysDesktop;}




//테이블
@mixin tableSpacing {border-spacing:0;border-collapse:collapse;}

@mixin fontSysDesktop {font-family:'Nanum Gothic','나눔고딕','돋움','Dotum','맑은 고딕','Malgun Gothic',Sans-Serif;}



//폰트(PC)
@mixin fonts { font-family:'Nanum Gothic','나눔고딕','돋움','Dotum','맑은 고딕','Malgun Gothic',Sans-Serif; font-size:12px; color:#555;}

//폰트(Mob)
@mixin fontHtml { font-size:10px;}
@mixin fontBody { font-size:1em; -webkit-text-size-adjust:none;}

//블릿
@mixin bgListDot {font-size:12px; padding-left:15px; margin-top:5px; background:url(/common/images/bg.gif) no-repeat;}
@mixin bodySet { height:100%; border:0;}


//form
@mixin selectType { border:1px solid #555; padding:5px;}
@mixin inputCheckType { border:1px solid #555; padding:5px 5px 3px 5px;}
@mixin inputCheckMargin { margin-right:2px;}
@mixin lableRight { margin-left:2px;}
@mixin lableLeft { margin-right:2px;}


//폼 (모바일 웹킷 디자인입히기)
@mixin webkitSelect { -webkit-appearance:none; border-radius:0; padding:4px 20px 4px 5px; border:1px solid #757575; background:url() no-repeat 100% 0; background-size:1.5rem auto;}
@mixin webkitInput { -webkit-appearance:none; border-radius:0; padding:4px 4px 4px 5px; border:1px solid #757575; background:$inputBG;}